/*  */
.onlineShop{
    max-width: 1000px;
    margin: auto;
    padding: 24px 0;
}

video{
    height: 200px;
    width: 100%;
}

.features{
    DISPLAY: GRID;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d3d3d35e;
}

.features button{
    width: 100%;
    padding: 6px;
    border: none;
    /* border-radius: 8px; */
    background-color: rgb(55 121 197);
    color: white;
}

.features p{
    font-size: 16px;
    font-weight: bold;
}

select{
    width: 100%;
    padding: 6px;
    border: 1px solid lightgray;
    /* border-radius: 8px; */
}

.titleRow{
    display: grid;
    grid-template-columns: repeat(9,1fr) repeat(2,0.5fr) 1fr;
    grid-gap: 6px;
    text-align: center;
    margin-top: 40px;
}

.productsContainer{
    border:1px solid rgb(233, 229, 229);
    margin-top: 20px;
}

.product{
    display: grid;
    grid-template-columns: repeat(9,1fr) repeat(2,0.5fr) 1fr;
    grid-gap: 6px;
    text-align: center;
    border-bottom: 1px solid rgb(233, 229, 229);
    padding: 18px 8px 0px 8px;
}

.product img{
    width: 100%;
    margin-top: -18px;
}


.product button{
    height: fit-content;
    padding: 6px 6px;
    border: none;
    color: white;
    background: #15237b;
    border-radius: 14px;
}


